
project 'lifekraze', :dir => 'lifekraze', :command => 'rake spec'
project 'lks-actions', :dir => 'lifekraze'


#or 

project 'lifekraze', :dir => 'lifekraze'
  
  # and in ./lifekraze/Vetfile
  project 'lifekraze', :command => 'rake spec'
  # because dir defaults to .
  
  
# So, here's the potential for a weird state machine, so 
# lets work this out:

project 'lifekraze'

# will look in the 'lifekraze' folder for another 
# Vetfile that will further describe what is going on.

project 'lifekraze', :dir => 'lifekrazesrc'

# will create a project called lifekraze and then look in 
# 'lifekrazesrc' for another Vetfile that further defines
# the actions.

project 'lifekraze', :command => 'rake spec'

# will create a project called lifekraze and, using the current
# working directory, call rake spec to run tasks.

project 'lifekraze', :dir => 'lifekrazesrc', :command => 'rake spec'

# will create a project called lifekraze, switch to the provided
# directory, and run 'rake spec'