<% @projects.each do |project| %>
<div class="project" id="<%= project.name %>">
  <h2><%= project.name %></h2>
  <a href="/<%= project.name %>"><span class="status <%= project.last_build_status %>"></span></a>
</div>
<% end %>