<% @projects.each do |name, project| %>
<div class="project" id="<%= name %>">
  <h2><%= name %></h2>
  <a href="/<%= name %>"><span class="status <%= project.latest_status_class %>"></span></a>
</div>
<% end %>