<!DOCTYPE html>
<html>
  <head>
    <title>VetCI</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <h1>VetCI</h1>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      
    </footer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/faye.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/application.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>