<!DOCTYPE html>
<html>
  <head>
    <title>VetCI</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <h1>VetCI</h1>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      
    </footer>
    <script src="/faye.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      var client = new Faye.Client('/faye');
      var subscription = client.subscribe('/all', function(message){
        console.log(message);
      });
    </script>
  </body>
</html>