<!DOCTYPE html>
<html>
  <head>
    <title>VetCI</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <h1>VetCI</h1>
    </header>
    <section>
      <%= yield %>
    </section>
    <footer>
      
    </footer>
  </body>
</html>