<h2>
  <%= @project.name %>
</h2>

<% @project.builds(:order => [:date.desc]).each do |build| %>
  <div class="build">
    <a href="<%= "/#{@project.name}/builds/#{build.id}/destroy" %>" class="delete">X</a>
    <p class="title">
      Build Time: <%= build.friendly_time %>
    </p>
    <div class="results">
      <pre class="terminal"><code><%=ansi_color_codes escape_html(build.output) %></code></pre>
    </div>
    <p class="results_toggle">
      show more
    </p> 
  </div>
<% end %>