<h2>
  <%= @cur_project.name %>
</h2>

<% @cur_project.builds.each do |build| %>
  <div class="build">
    <p class="title">
      Build Time: Tuesday, July 20, 2011 at 11:19 AM
    </p>
    <div class="results">
      <pre class="terminal"><code><%=ansi_color_codes escape_html(build.output) %></code></pre>
    </div>
    <p class="results_toggle">
      PASSED
    </p>
  </div>
<% end %>